In [1]:
import pandas as pd
import numpy as np
from pyproj import Proj, transform
from pyproj import Transformer
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [61]:
df = pd.read_csv('data/20210610.xls.csv')
df.head()

,logid,drvseq,drvno,xpos,ypos,logtime,gpsstate,speed,direction,health,carstatus
0,1545250689,702494,702494,3171219,5617001,2021-06-10 05:13:26,1,0,269,0,10
1,1545250688,702478,702478,3146061,5478801,2021-06-10 05:13:23,1,11,257,0,1
2,1545250687,702505,702505,3139327,5453354,2021-06-10 05:13:22,1,0,220,0,1
3,1545250686,702544,702544,3222024,5473718,2021-06-10 05:13:22,1,0,0,0,10
4,1545250685,702549,702549,3162639,5473639,2021-06-10 05:13:22,1,0,180,0,2

In [62]:
len(df)

796025

In [63]:
#WGS 및 TM128 변수 정의

WGS84 = {'proj':'latlong', 'datum':'WGS84', 'ellps':'WGS84'}


TM128 = { 'proj':'tmerc', 'lat_0':'38N', 'lon_0':'128E', 'ellps':'bessel',
   'x_0':'400000', 'y_0':'600000', 'k':'0.9999',
   'towgs84':'-146.43,507.89,681.46'}

trans_data = df.copy()

# xpos_list = []
# ypos_list = []

# for idx, row in tqdm(trans_data.iterrows()):
#     x,y = row['xpos']/10,row['ypos']/10
#     wgs_x, wgs_y = transform(Proj(**TM128),Proj(**WGS84), x, y)
#     xpos_list.append(wgs_x)
#     ypos_list.append(wgs_y)

# trans_data['wgs_xpos'] = xpos_list
# trans_data['wgs_ypos'] = ypos_list


### 연산속도 높이기

converted = transform(Proj(**TM128),Proj(**WGS84), trans_data['xpos'].values/10, trans_data['ypos'].values/10)

trans_data['wgs_xpos'] = converted[0]
trans_data['wgs_ypos'] = converted[1]
trans_data.tail()

,logid,drvseq,drvno,xpos,ypos,logtime,gpsstate,speed,direction,health,carstatus,wgs_xpos,wgs_ypos
796020,1545250694,702511,702511,3187929,5567893,2021-06-10 05:13:30,1,0,0,0,1,127.077981,37.609753
796021,1545250693,702189,702189,3093214,5454762,2021-06-10 05:13:30,1,29,123,0,1,126.972119,37.506943
796022,1545250692,702199,702199,3121212,5430684,2021-06-10 05:13:30,1,0,359,0,3,127.004071,37.485521
796023,1545250691,702518,702518,3148685,5511008,2021-06-10 05:13:30,1,4,358,0,3,127.034199,37.558147
796024,1545250690,702507,702507,3156179,5623422,2021-06-10 05:13:27,1,0,125,0,10,127.041381,37.659495

In [64]:
len(trans_data)

796025

In [65]:
len(trans_data['wgs_xpos'])

796025

In [66]:
trans_data

,logid,drvseq,drvno,xpos,ypos,logtime,gpsstate,speed,direction,health,carstatus,wgs_xpos,wgs_ypos
0,1545250689,702494,702494,3171219,5617001,2021-06-10 05:13:26,1,0,269,0,10,127.058499,37.653847
1,1545250688,702478,702478,3146061,5478801,2021-06-10 05:13:23,1,11,257,0,1,127.031605,37.529106
2,1545250687,702505,702505,3139327,5453354,2021-06-10 05:13:22,1,0,220,0,1,127.024286,37.506117
3,1545250686,702544,702544,3222024,5473718,2021-06-10 05:13:22,1,0,0,0,10,127.117595,37.525200
4,1545250685,702549,702549,3162639,5473639,2021-06-10 05:13:22,1,0,180,0,2,127.050418,37.524608
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796020,1545250694,702511,702511,3187929,5567893,2021-06-10 05:13:30,1,0,0,0,1,127.077981,37.609753
796021,1545250693,702189,702189,3093214,5454762,2021-06-10 05:13:30,1,29,123,0,1,126.972119,37.506943
796022,1545250692,702199,702199,3121212,5430684,2021-06-10 05:13:30,1,0,359,0,3,127.004071,37.485521
796023,1545250691,702518,702518,3148685,5511008,2021-06-10 05:13:30,1,4,358,0,3,127.034199,37.558147
796024,1545250690,702507,702507,3156179,5623422,2021-06-10 05:13:27,1,0,125,0,10,127.041381,37.659495

In [67]:
trans_data.to_excel('20210610_wgs.xlsx', index=False)